# PostgreSQL Database Configuration
# Used by docker-compose.yml to set up the DB
PG_USER=
PG_PASSWORD=
PG_DATABASE=

# Database Connection URL
# Used by SQLModel to connect to the database (defaults to the local docker instance if unset)
DATABASE_URL=postgresql+psycopg://${PG_USER}:${PG_PASSWORD}@localhost:5432/${PG_DATABASE}

# Quran Foundation API & OAuth URLs
# Defaults to pre-live environments if unset in code, but configured here for production.
QF_AUTH_BASE_URL=https://oauth2.quran.foundation
QF_API_BASE_URL=https://apis.quran.foundation

# Quran Foundation OAuth Credentials
QF_CLIENT_ID_PRELIVE=
QF_CLIENT_SECRET_PRELIVE=

QF_CLIENT_ID_PROD=
QF_CLIENT_SECRET_PROD=


# For the Scripts that help in caching!
CLIENT_ID=
CLIENT_SECRET=
PRELIVE_END_POINT="https://prelive-oauth2.quran.foundation"

CLIENT_ID_PROD=
CLIENT_SECRET_PROD=
PROD_AUTH_ENDPOINT=
PROD_API_ENDPOINT=
